<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>有鱼点评 - 登录</title>
  <link rel="stylesheet" href="./css/element.css">
  <link href="./css/main.css" rel="stylesheet">
  <link href="./css/login.css" rel="stylesheet">
</head>
<body>
<div id="app">
  <div class="login-wrapper">
    <!-- 顶部导航 -->
    <div class="login-header">
      <div class="back-btn" onclick="history.back()">
        <i class="el-icon-arrow-left"></i>
      </div>
      <div class="header-title">登录</div>
      <div class="header-right"></div>
    </div>
    
    <!-- 品牌区域 -->
    <div class="brand-section">
      <div class="brand-icon">🐟</div>
      <h1 class="brand-title">有鱼点评</h1>
      <p class="brand-desc">发现身边的好店</p>
    </div>
    
    <!-- 登录卡片 -->
    <div class="login-card">
      <div class="card-header">
        <h2>手机号登录</h2>
      </div>
      
      <div class="login-form">
        <div class="input-group">
          <el-input placeholder="请输入手机号" v-model="form.phone" prefix-icon="el-icon-mobile-phone"></el-input>
        </div>
        
        <div class="input-group code-group">
          <el-input placeholder="请输入验证码" v-model="form.code" prefix-icon="el-icon-message"></el-input>
          <el-button class="code-btn" @click="sendCode" :disabled="disabled">{{codeBtnMsg}}</el-button>
        </div>
        
        <div class="tip-text">未注册的手机号验证后自动创建账户</div>
        
        <el-button class="login-btn" @click="login">登录</el-button>
        
        <div class="other-login">
          <a href="/login2.html">密码登录</a>
        </div>
      </div>
    </div>
    
    <!-- 用户协议 -->
    <div class="agreement">
      <input type="radio" name="readed" v-model="radio" value="1" id="agree">
      <label for="agree">我已阅读并同意<a href="javascript:void(0)">《用户服务协议》</a>和<a href="javascript:void(0)">《隐私政策》</a></label>
    </div>
  </div>
</div>

<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/element.js"></script>
<script src="./js/common.js"></script>

<script>
  const app = new Vue({
    el: "#app",
    data: {
      radio: "",
      disabled: false,
      codeBtnMsg: "发送验证码",
      form: {}
    },
    methods: {
      login() {
        if(!this.radio) {
          this.$message.error("请先同意用户协议");
          return;
        }
        if(!this.form.phone || !this.form.code) {
          this.$message.error("手机号和验证码不能为空");
          return;
        }
        axios.post("/user/login", this.form)
          .then(({data}) => {
            if(data) {
              sessionStorage.setItem("token", data);
            }
            location.href = "/index.html";
          })
          .catch(err => this.$message.error(err));
      },
      sendCode() {
        if (!this.form.phone) {
          this.$message.error("手机号不能为空");
          return;
        }
        axios.post("/user/code?phone=" + this.form.phone)
          .then(() => {})
          .catch(err => {
            console.log(err);
            this.$message.error(err);
          });
        this.disabled = true;
        let i = 60;
        this.codeBtnMsg = (i--) + '秒后重发';
        let taskId = setInterval(() => this.codeBtnMsg = (i--) + '秒后重发', 1000);
        setTimeout(() => {
          this.disabled = false;
          clearInterval(taskId);
          this.codeBtnMsg = "发送验证码";
        }, 60000);
      }
    }
  });
</script>
</body>
</html>
